<div class="row">
    <div class="col-md-12">
        <h1>Add Beer</h1>
        <form role="form" action="/beer" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Beer Name">
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <input type="text" class="form-control" id="type" placeholder="IPA">
            </div>
            <div class="form-group">
                <label for="qty">Quantity</label>
                <input type="number" class="form-control" id="qty" placeholder="1">
            </div>
            <div class="form-group">
                <label for="upc">UPC</label>
                <input type="text" class="form-control" id="upc" placeholder="0000000000000">
            </div>
            <input type="submit" class="btn btn-primary" value="Add Beer">
        </form>
    </div>
</div>